@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Segredo";
}
<h1>@ViewData["Title"]</h1>

<p>Segredo quem tiver permissão.</p>

@{
    if (this.IfClaim("Produto", "Adicionar"))
    {
        <p>Você só verá isso se tiver permissão de adicionar!</p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(this.Context, "Produto", "Adicionar");
</div>

<div>
    <br />
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produto", "Adicionar"))">Excluir</a>
</div>